argocd-apps:
  applications:
    - name: kafka
      namespace: argo-cd
      project: default
      source:
        repoURL: https://charts.bitnami.com/bitnami
        targetRevision: 19.1.4
        path: ''
        chart: kafka
        helm:
          releaseName: kafka
      destination:
        server: https://kubernetes.default.svc
        namespace: kafka
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
        automated:
          prune: false
          selfHeal: false
    - name: kafka-ui
      namespace: argo-cd
      project: default
      source:
        repoURL: https://provectus.github.io/kafka-ui
        targetRevision: 0.4.6
        path: ''
        chart: kafka-ui
        helm:
          releaseName: kafka
          parameters:
            - name: ingress.enabled
              value: "true"
            - name: ingress.host
              value: kafka-ui.local
            - name: 'yamlApplicationConfig.kafka.clusters[0].name'
              value: yaml
            - name: 'yamlApplicationConfig.kafka.clusters[0].bootstrapServers'
              value: kafka.kafka.svc:9092
      destination:
        server: https://kubernetes.default.svc
        namespace: kafka
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
        automated:
          prune: false
          selfHeal: false
